html, body
{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: auto;
}

#headerContainer
{
  background: lightgray;
  border-bottom: 3px double gray;
}

#footerContainer
{
  text-align: right;
  font-size: 0.75em;
  background: lightgray;
  border-top: 3px double gray;
}