html, body
{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: auto;
}

#header
{
  background: lightgray;
  border-bottom: 3px double gray;
}

#footer
{
  text-align: right;
  font-size: 0.75em;
  background: lightgray;
  border-top: 3px double gray;
}

#sidebar1Container
{
  overflow: hidden;
}

#tabsContainer
{
  overflow: hidden;
}

#toolbar
{
  padding: 0.25em;
  margin-bottom: 0.25em;
}
/* Overriding jQuery accordion padding */
.ui-accordion .ui-accordion-content
{
  padding: 0.25em 0.25em;
}

.ui-layout-content
{
  padding: 0;
}

.ui-tabs-panel.ui-widget-content
{
  padding: 0;
  margin: 0;
}

#feedback { font-size: 1.4em; }
#selectable .ui-selecting { background: #FECA40; }
#selectable .ui-selected { background: #F39814; color: white; }
#selectable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
#selectable li { margin: 3px; padding: 0.4em; font-size: 1.4em; height: 18px; }


.ui-icon-close { float: left; margin: 0.4em 0.2em 0 0; cursor: pointer; }
